!!! html5
html
	head
		title="Wrapup Web Builder"

		script(src="/js/codemirror/lib/codemirror.js")
		script(src="/js/codemirror/mode/javascript/javascript.js")
		link(href="/js/codemirror/lib/codemirror.css", rel="stylesheet")
		link(href="/js/codemirror/theme/monokai.css", rel="stylesheet")

		script(src="/main.js")
		link(href="/layout.css", rel="stylesheet")

	body

		h1= "Download Wrapup'd NPM packages (prime/nodes/slick)"

		form(method="post", action="/")

			.labels
				label
					input.package(type="checkbox", value="prime", name="prime")
					| Prime
					script(type="text/snippet", id="prime-snippet")
						| // export prime
						| global.prime = require('prime');

				label
					input.package(type="checkbox", value="nodes", name="nodes")
					| Nodes
					script(type="text/snippet", id="nodes-snippet")
						| // export nodes
						| global.nodes = require('nodes');

				label
					input.package(type="checkbox", value="slick", name="slick")
					| Slick
					script(type="text/snippet", id="slick-snippet")
						| // export slick
						| global.slick = require('slick');
						| require('nodes').use(global.slick);
			.editor
				textarea#editor(name="setup")

			.save

				label
					input(type="checkbox", name="compress", value="1")
					| Compress the output JS

				label
					input(type="submit", value="Download your wrapup'd version");



