body {
  font: 12px Helvetica, Arial, sans-serif;
}
.CodeMirror {
  border: 1px solid #000;
  background: #efefef;
}
form label {
  display: block;
}
@media screen and (min-width: 700px) {
  .labels,
  .editor {
    float: left;
  }
  .labels {
    width: 20%;
    margin-right: 2%;
  }
  .editor {
    width: 78%;
  }
  .save {
    clear: both;
  }
}
